In [1]:
#---------exercise 1--------------
print(7+10)

17

In [2]:
#Addition
print(7+10)

17

In [5]:
#Subtraction
print(25-12)

#Multiplication
print(3*5)

#Division
print(10/2)

#modulo(remainder)
print(18%7)

#power
print(4**2)

13
15
5.0
4
16

In [8]:
#calculating Simple interest and total savings
P= input("enter the principal amount")
R=input("enter the rate of interest")
N=input("enter the no of years")
SI= (float(P)*float(N)*float(R))/100
print("the total interest earned is",SI)

#calculating savings amount
Total_value= float(P)+ float(SI)
print("the total value is",Total_value)

enter the principal amount5000
enter the rate of interest7
enter the no of years5
the total interest earned is 1750.0
the total value is 6750.0

In [10]:
#calculating the no of years to earn 4872 as interest
P=input("enter the principal amount")
R=input("enter the rate of interest")
SI=input("enter the interest earned")
T=(float(SI)*100)/(float(P)*float(R))
print("the total no of years is",T)

enter the principal amount8000
enter the rate of interest8.7
enter the interest earned4872
the total no of years is 7.0

In [13]:
#calculating the rate of interest
print((float(768)*100)/(float(3000)*float(4)))

6.4

In [26]:
#calculating amount aafter 7 years
print(float(100)*(float(1.1)**7))

194.87171000000012

In [29]:
#--------------exercise 2 --------------
savings=100
print(savings)

growth_multiplier=1.1
print(growth_multiplier)

result= 194.8717
print(result)

100
1.1
194.8717

In [44]:
#creating string
desc="compound interest"
type(desc)

str

In [45]:
#boolean
profitable=True
type(profitable)

bool

In [48]:
A=10.7
type(A)

str

In [49]:
B="This is python course"
type(B)

str

In [50]:
C=False
type(C)

bool

In [55]:
savings=100
growth_multiplier=1.1
desc="compound Interest "
year1=print(float(savings)*float(growth_multiplier))

doubledesc=str(desc)+str(desc)
print(doubledesc)

110.00000000000001
compound Interest compound Interest

In [64]:
savings=100
result=100*1.10**7
print("I started with $ "+ str(savings) + " and now I have $ "+ str(result) + " Awesome! ")

I started with $ 100 and now I have $ 194.87171000000012 Awesome!

In [65]:
pi_string="3.1415926"
pi_float= float(pi_string)
double_pi=print(pi_float*2)

6.2831852

In [71]:
print(str(5)+" to strings")
print("I said "+("Hey"*2)+"Hey!")
#print("the correct answer to this multiple choice exercise is answer number"+2)  this statement gives an error
print(True+False)

5 to strings
I said HeyHeyHey!
1

In [74]:
#---------------exercise 3-----------
#checking wheter the given no is even or not
num=input("enter the number")
if float(num)%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number5
the number is odd

In [75]:
#converting temperature in degree /centigrade to fahrenheit
T=input("enter the temperature in celsius")
F= (float(T)*1.8)+32
print("the temperature in fahrenheit is ",F)

enter the temperature in celsius30
the temperature in fahrenheit is  86.0

In [84]:
#calculating area of triangle
import math
math.sqrt
side1=input("enter the side1 ")
side2=input("enter the side2 ")
side3=input("enter the side3 ")
a= float(side1)
b=float(side2)
c=float(side3)
S=(a+b+c)/2
area=math.sqrt(S*(S-a)*(S-b)*(S-c))
print(area)

enter the side1 4
enter the side2 3
enter the side3 6
5.332682251925386

In [106]:
#calculating area and circumference of circle
import math
radius=4
print("pi is",math.pi)
print("area is",math.pi*(int(radius)**2))

pi is 3.141592653589793
area is 50.26548245743669

In [109]:
#checking whether a given input is multiple of 5 or not
num=input("enter the number")
n=float(num)
if float(n%5==0):
    print("multiple of 5")
else:
    print("not a multiple of 5")

enter the number55
multiple of 5